{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% include 'menu.html' %}

<header>{% block header %}{% endblock header %}</header>

{%block content%}{%endblock content%}

<footer><div class="container">{% block footer %}{% endblock footer %}</div></footer>

</body>
</html>