{% extends 'base.html' %}
{% block title %}
Gaming shop - Восстановление пароля
{% endblock title %}
{% block content %}
<main class="container">
    <h1>Восстановление пароля</h1>
    {% if validlink %}
    <p>Придумайте новый пароль</p>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Сменить пароль</button>
        <a href={% url 'login' %}>Отмена</a>
    </form>
    {%else%}
    <p>Срок действия ссылки истёк,повторите операцию ещё раз</p>
    {%endif%}
</main>

{% endblock content %}
